### Go
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
/.coverage/
*.out
*.cov

# Test/build helpers and test artifacts
*.log
/dist/
cc-test-reporter
rabbitmq-cli-consumer
