language: go

go:
  - 1.9
  - tip

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

branches:
  only:
    - master

sudo: required

services:
  - docker

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

install:
  - make install

script:
  - make test-integration

after_script:
  - ./cc-test-reporter sum-coverage --output - .coverage/*.json | ./cc-test-reporter upload-coverage --input -

after_success:
  - git status
  - curl -sL https://git.io/goreleaser | bash
